@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-12">
            @foreach (var item in ViewBag.itemlist)
            {
        <div style="border-bottom:1px solid red;">
            <p>@item.title</p>
            <p>@item.description</p>
            <p>Url  <a href="@item.link">Link</a> </p>
            <p>Read :<a href="@item.guid"> More</a> </p>

            <p><img src="@item.coverImages" /></p>
            <p>@item.pubDate</p>
        </div>
            }
    </div>
</div>
